
.box{
            background-color: white;
            padding: 12px 20px 10px 20px;
            height: auto;
            width: 600px;
            border-top: solid 10px;
            border-color: #3d0db5ff;
            border-radius: 8px;
            text-align: left;


            margin: 15px;
        
        }
.red{
    color: red;
}

.box2{

    background-color: white;
    padding: 30px 20px 30px 20px;
    height: auto;
    width: 600px;
    border-radius: 10px;
    margin: 15px;
    text-align: left;


}

.largeCheckBox{
    margin-top: 20px;
    width: 20px; height: 20px; 
    accent-color: #3d0db5;
    
    position: absolute;
    top:-20px;

    
}
.tt{
    position: absolute;
    left: 30px;
}
.moveUp{
    position: relative;
}
.tt{

}
.inputBorder{

    border-style: none none ridge none;
    color: rgb(170, 170, 170);

}


.file-button{

    background-color: white;
    border: ridge;
    color: #3d0db5;
    cursor: pointer;
    font-size: 16px; 
    font-weight: 500;
    border-radius: 3px;
    padding: 5px 15px;

}

